[flake8]

max-line-length = 90
ignore =
  # irrelevant plugins
  B3,
  DW12,
  # code is sometimes better without this
  E129,
  # Contradicts PEP8 nowadays
  W503,
  # consistency with mypy
  W504
exclude =
  # tests have more relaxed formatting rules
  # and its own specific config in .flake8-tests
  src/test_typing_extensions.py,
  # these are just data files
  src/_ann_module*.py,
noqa_require_code = true
