[flake8]
max-line-length = 90
ignore =
  # irrelevant plugins
  B3,
  DW12,
  # code is sometimes better without this
  E129,
  # Contradicts PEP8 nowadays
  W503,
  # consistency with mypy
  W504
per-file-ignores =
  # stylistic rules we don't care about in tests
  src/test_typing_extensions.py:E302,E306,E501,E701,E704,
noqa_require_code = true
